body {
  width: 80%;
  font-size: 12;
}

h2 {
  text-decoration: underline;
}

.border-box {
  border: 3px dashed #4CAF50;
  padding: 5px;
  margin-bottom: 5px;

  p.solid {
    border-style: solid;
  }
}

ul {
  background: aqua;
  padding: 20px;
  color: red;
}

ol li {
  background: pink;
  color: darkred;
  padding: 5px;
  margin-left: 25px;
}

ul li {
  background: #cce5ff;
  color: darkblue;
  margin: 5px;
}


/* Positioning Properties */
.fixed {
  position: fixed;
}

div.relative {
  position: relative;
  width: 350px;
  height: 120px;
  border: 3px solid #73AD21;
}

div.static {
  position: static;
  border: 3px solid #73AD21;
}

div.absolute {
  position: absolute;
  top: 30px;
  right: 0;
  width: 200px;
  height: 80px;

  border: 3px solid #73AD21;
}